{% extends "posts/base.html" %}

{% block title %}Профиль — Marketplace{% endblock %}

{% block content %}
<h2>Профиль {{ profile.author.user.username }}</h2>
<p>Имя: {{ profile.author.user.first_name }} {{ profile.author.user.last_name }}</p>
<p>Email: {{ profile.author.user.email }}</p>
<p>О себе: {{ profile.bio }}</p>
<p>Телефон: {{ profile.phone }}</p>
<p>Город: {{ profile.city }}</p>
<p>Дата рождения: {{ profile.birth_date }}</p>

<a href="{% url 'accounts:profile_edit' %}">Редактировать</a>
{% endblock %}
